
header{ 
    color: white;
    height: 250px;
    outline: 1px solid red;
    background-image: url(/pexels-eugenia-remark-14270583.jpg);
    background-size: cover;
    background-position: center center;
}
header h1{
    margin: 0;
    padding-left:50px ;
    padding-top: 20px;
}
header h2{
    margin: 0;
    padding-left:50px ;
    padding-top: 20px;
}